[Unit]
Description=Aquaponics Web Interface

[Service]
ExecStart=/home/aqua/ap/webapp/start.R
WorkingDirectory=/home/aqua/ap/webapp
User=aqua
Group=aqua
